<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <img src="{{ url_for('static', filename='images/atzin.jfif')}}" alt="Gato bonito">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for("index") }}" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.google.com/search?q=gato&rlz=1C1ASUM_enMX938MX938&sxsrf=AJOqlzXE9Mq0zCwCjeAcN80ImpNtLVcS5A:1673559193554&tbm=isch&source=iu&ictx=1&vet=1&fir=sSLtDqXPPTrF2M%252CcwGJNOg8uX-qdM%252C%252Fm%252F01yrx%253BakjT1kn4Hbns3M%252CupiA6Dd1SF5EWM%252C_%253BdifI1WFFC-zVWM%252CXnJG7t-Vege8DM%252C_%253BDKX4ARwU2wYytM%252C_YQMA7Nvv678RM%252C_%253BEa12g36m-FHg2M%252C3FwDP8cXYAV5cM%252C_%253BljOjrslz_r8DUM%252CjyRuTT5VCCXWGM%252C_&usg=AI4_-kQz8sOu--tSBrFZ0MYhTXsU-ubu7A&sa=X&ved=2ahUKEwj25_fp_cL8AhWDnWoFHXITAT8Q_B16BAhiEAE#imgrc=sSLtDqXPPTrF2M">Nice Cat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>